
body {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: hsla(186, 33%, 94%, 1); 
  
    background: linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    background: -moz-linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    background: -webkit-linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("journalhorse.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: 5px 5px 5px black;
}
.navbar {
  overflow: hidden;
  background-color: rgb(168, 168, 168);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.25s;
}
.navbar b,
#logo {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 5px;
  text-decoration: none;
  transition-duration: 0.25s;
}
#logo {
  height: 25px;
}
.navbar a:hover {
  background-color: #dab990;
  color: #81603d;
}
.navbar a:active {
  background-color: white;
  color: #81603d;
}
#journal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
     background: hsla(186, 33%, 94%, 1); 
  
    background: linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    background: -moz-linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    background: -webkit-linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
    width: 45vw;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-top: 20px;
}
#horse-drop-down{
    width: 30%;
    margin: 1vh;
}
header{
    display: flex;
    align-items: center;
    width: 45vw;
}
footer{
  width: 45vw;
  display: flex;
  flex-direction: column;
}
header input, header select, header button{
  display: flex;
  align-items: center;
  width: 100%;
}
input{
  border-radius: 10px;
}
.journal-card{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    background: hsla(186, 33%, 94%, 1); 
  
    background: linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    background: -moz-linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    background: -webkit-linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
    font-size: 2.5vh;
    line-height: 1px;
    color: navy;
    align-items: center;
    margin: 5px;
    width: 60vw;
    height: 20vh;
    border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}
.journal-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#summary{
  font-size: smaller;
  margin-left:auto; 
  margin-right:auto; 
  width:50vw; height: 10vh;
   overflow-y: scroll;
   line-height: 1;
}
#search{
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px;

}
.search-container button,
input,
select {
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 2vh;
  border: none;
  cursor: pointer;
  margin: 5px;
}
.search-container button {
  border-radius: 10vh;
}
.search-container input,
select {
  border-radius: 1vh;
}
.search-container button:hover {
  background: #ccc;
}
#horse,#title{
  font-weight: bolder;
}



@media print {
  body{
    color: black;
  }
  #hero,header,#printbtn,.navbar,#search {
    display: none;
  }
   .journal-card{
    margin: 10px;
    width: 90vw;
    height: 90vh;
    page-break-after: always;
    box-shadow: none;
    border: 2px solid black;
    
   }
   .journal-card-header p{

    font-size: x-large;
    margin: 2vh;
   }
   .journal-card-header{
    color: black;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   #summary{
    color: black;
    font-size: x-large;
    overflow-y: visible;
   }
   
}

@media only screen and (max-width: 600px) {
  #hero{
    background-image: url("https://i.pinimg.com/736x/a6/d5/75/a6d575d3e3027ecd699699ec921670f7.jpg");
    width: 100%;
    box-shadow: 0px 0px 0px black;
  }
  #journalbox{
    width: 100%;
  }
  body .navbar b{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
    padding-left: 5px;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  body .navbar{
  font-size: x-small;
 }
 body{
  width: 100%;
  margin-top: 45px;
}
.navbar{
  font-size: small;
}
#logo {
  height: 15px;
}
.journal-card{
  width: 80vw;
  font-size: xx-small;
 }
 .journal-card-header {
  display: flex;
  flex-direction: column;
  font-size: xx-small;
 }
 .journal-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;;
 }
 .search-container{
  width: 100%;
 }
 #search{
  width: 100%;
 }
 #searchtext{
  width: 35vw;
 }
 #summary{
  margin-bottom: 10px;
 }
}